<a href="https://colab.research.google.com/github/havaledar/6200_final/blob/main/6200_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

In [23]:
BandL=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/B%26L.csv")
BL=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/BLs.csv")
BS=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/BSs.csv")
B=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/Bs.csv")
LBSC=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/LBSC.csv")
LS=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/LSs.csv")
L=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/Ls.csv")

In [24]:
BandL.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification score', 'Qualification rank', 'Semi-Final score',
       'Semi-Final rank', 'Final score', 'Final rank']
B.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification score', 'Qualification rank', 'Semi-Final score',
       'Semi-Final rank', 'Final score', 'Final rank']
LS.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification 1 score', 'Qualification 1 rank',
       'Qualification 2 score', 'Qualification 2 rank', 'Qualification score',
       'Qualification rank', 'Semi-Final score', 'Semi-Final rank',
       '1/8 score', '1/4 score', '1/2 score', 'Small Final score',
       'Final score', 'Final rank']

In [25]:
df=pd.concat([LBSC, BL, BS, L, BandL, B, LS])
print(len(df.columns), len(LBSC.columns))

26 26

In [26]:
df.columns

Index(['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification 1 score', 'Qualification 1 rank',
       'Qualification 2 score', 'Qualification 2 rank', 'Qualification score',
       'Qualification rank', 'Semi-Final score', 'Semi-Final rank',
       '1/8 score', '1/4 score', '1/2 score', 'Small Final score',
       'Final score', 'Final rank'],
      dtype='object')

In [27]:
df["fullname"]=df["firstname"]+" "+df["lastname"]

In [28]:
cou = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv")

In [29]:
df[~df['country'].isin(cou["CODE"])]["country"].unique()

array(['SLO', 'GER', 'SUI', 'NED', 'IRI', 'LAT', 'TPE', 'CHI', 'RSA',
       'BUL', 'CRO', 'GRE', 'PUR', 'DEN', 'MRI', 'INA', 'MGL'],
      dtype=object)

In [30]:
df.loc[df.country == 'SLO', 'country'] = 'SVN'
df.loc[df.country == 'GER', 'country'] = 'DEU'
df.loc[df.country == 'SUI', 'country'] = 'CHE'
df.loc[df.country == 'NED', 'country'] = 'NLD'
df.loc[df.country == 'IRI', 'country'] = 'IRN'
df.loc[df.country == 'LAT', 'country'] = 'LVA'
df.loc[df.country == 'TPE', 'country'] = 'TWN'
df.loc[df.country == 'CHI', 'country'] = 'CHL'
df.loc[df.country == 'RSA', 'country'] = 'ZAF'
df.loc[df.country == 'BUL', 'country'] = 'BGR'
df.loc[df.country == 'CRO', 'country'] = 'HRV'
df.loc[df.country == 'GRE', 'country'] = 'GRC'
df.loc[df.country == 'PUR', 'country'] = 'PRI'
df.loc[df.country == 'DEN', 'country'] = 'DNK'
df.loc[df.country == 'MRI', 'country'] = 'MUS'
df.loc[df.country == 'INA', 'country'] = 'IDN'
df.loc[df.country == 'MGL', 'country'] = 'MNG'

In [32]:
df.dropna(subset=['rank'], inplace=True)

In [33]:
df.shape

(4474, 27)

In [34]:
df["rank"].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  34.,
        35.,  36.,  37.,  38.,  40.,  41.,  42.,  44.,  45.,  47.,  49.,
        50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,  60.,
        61.,  62.,  63.,  64.,  65.,  66.,  67.,  69.,  70.,  71.,  72.,
        73.,  74.,  75.,  76.,  77.,  78.,  80.,  81.,  82.,  83.,  84.,
        85.,  86.,  88.,  89.,  90.,  91.,  92.,  93.,  95.,  96.,  97.,
        33.,  39.,  43.,  46.,  48.,  68.,  79.,  94.,  87.,  98.,  99.,
       102., 103., 110., 101., 105., 107., 109., 111., 113., 115., 117.,
       118., 119., 100., 123., 124., 125., 127., 129., 134., 108.])

In [35]:
df.to_csv("df.csv")