<a href="https://colab.research.google.com/github/havaledar/6200_final/blob/main/6200_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [9]:
BandL=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/B%26L.csv")
BL=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/BLs.csv")
BS=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/BSs.csv")
B=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/Bs.csv")
LBSC=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/LBSC.csv")
LS=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/LSs.csv")
L=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/Ls.csv")

In [49]:
BandL.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification score', 'Qualification rank', 'Semi-Final score',
       'Semi-Final rank', 'Final score', 'Final rank']
B.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification score', 'Qualification rank', 'Semi-Final score',
       'Semi-Final rank', 'Final score', 'Final rank']
LS.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification 1 score', 'Qualification 1 rank',
       'Qualification 2 score', 'Qualification 2 rank', 'Qualification score',
       'Qualification rank', 'Semi-Final score', 'Semi-Final rank',
       '1/8 score', '1/4 score', '1/2 score', 'Small Final score',
       'Final score', 'Final rank']

In [50]:
df=pd.concat([LBSC, BL, BS, L, BandL, B, LS])
print(len(df.columns), len(LBSC.columns))

26 26

In [51]:
df.to_csv("df.csv")