<a href="https://colab.research.google.com/github/havaledar/6200_final/blob/main/6200_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
BandL=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/B%26L.csv")
BL=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/BLs.csv")
BS=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/BSs.csv")
B=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/Bs.csv")
LBSC=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/LBSC.csv")
LS=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/LSs.csv")
L=pd.read_csv("https://raw.githubusercontent.com/havaledar/6200_final/main/Ls.csv")

In [3]:
BandL.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification score', 'Qualification rank', 'Semi-Final score',
       'Semi-Final rank', 'Final score', 'Final rank']
B.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification score', 'Qualification rank', 'Semi-Final score',
       'Semi-Final rank', 'Final score', 'Final rank']
LS.columns=['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification 1 score', 'Qualification 1 rank',
       'Qualification 2 score', 'Qualification 2 rank', 'Qualification score',
       'Qualification rank', 'Semi-Final score', 'Semi-Final rank',
       '1/8 score', '1/4 score', '1/2 score', 'Small Final score',
       'Final score', 'Final rank']

In [4]:
df=pd.concat([LBSC, BL, BS, L, BandL, B, LS])
print(len(df.columns), len(LBSC.columns))

26 26

In [12]:
df.columns

Index(['City', 'Country', 'Year', 'Ds', 'Event', 'discipline', 'category',
       'rank', 'firstname', 'lastname', 'country', 'yob',
       'Qualification 1 score', 'Qualification 1 rank',
       'Qualification 2 score', 'Qualification 2 rank', 'Qualification score',
       'Qualification rank', 'Semi-Final score', 'Semi-Final rank',
       '1/8 score', '1/4 score', '1/2 score', 'Small Final score',
       'Final score', 'Final rank', 'fullname'],
      dtype='object')

In [11]:
df["fullname"]=df["firstname"]+" "+df["lastname"]

In [ ]:
cou = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv")

In [30]:
df[~df['country'].isin(cou["CODE"])]["country"].unique()

array([], dtype=object)

In [29]:
df.loc[df.country == 'SLO', 'country'] = 'SVN'
df.loc[df.country == 'GER', 'country'] = 'DEU'
df.loc[df.country == 'SUI', 'country'] = 'CHE'
df.loc[df.country == 'NED', 'country'] = 'NLD'
df.loc[df.country == 'IRI', 'country'] = 'IRN'
df.loc[df.country == 'LAT', 'country'] = 'LVA'
df.loc[df.country == 'TPE', 'country'] = 'TWN'
df.loc[df.country == 'CHI', 'country'] = 'CHL'
df.loc[df.country == 'RSA', 'country'] = 'ZAF'
df.loc[df.country == 'BUL', 'country'] = 'BGR'
df.loc[df.country == 'CRO', 'country'] = 'HRV'
df.loc[df.country == 'GRE', 'country'] = 'GRC'
df.loc[df.country == 'PUR', 'country'] = 'PRI'
df.loc[df.country == 'DEN', 'country'] = 'DNK'
df.loc[df.country == 'MRI', 'country'] = 'MUS'
df.loc[df.country == 'INA', 'country'] = 'IDN'
df.loc[df.country == 'MGL', 'country'] = 'MNG'

In [31]:
df.to_csv("df.csv")